﻿@model TT.Domain.ViewModels.NewCharacterViewModel

@{
    ViewBag.Title = "New Character";
}

@section scripts
{
    <script src="@Links.Scripts.randomFirstLastNames_js"></script>
    <script src="@Links.Scripts.newCharacter_js"></script>
    <script>
    $("#showHard").click(function () {
        if ($("#hardDiv").is(":visible") === false) {
            $("#hardDiv").show();
        } else {
            $("#hardDiv").hide();
        }
    });
    </script>
}

<div class="specialBox textSpaced">
    <p>
        <b>
            Welcome to Transformania Time!  Here you can choose a name for your brave mage who dares to enter the town of Sunnyglade in all its dangers and oddities.  If you are starting your first character for the round, you will begin at level 1.  If your previous character has been inanimated or turned into a pet, you can "reroll" yourself a new character immediately but will lose 3 levels and all of your Arpeyjis.  You may keep your same name as before, but your newer incarnation will have a roman numeral appended to the end, ie "Aelianus Marcellius II".


            @if (ViewBag.IsRerolling)
            {
                <br>
                <br>
                <span class="tldr">You currently have a character named @ViewBag.OldFirstName @ViewBag.OldLastName.  If you start over you will no longer be able to perform any actions with them anymore.</span>
            }


        </b>
    </p>
    <p class="bad">By creating a character, you acknowledge that you have looked over the <a href="@Url.Action(MVC.Info.Rules())">Rules of Play</a>.</p>
</div>

<div class="specialBox specialBox2">
    <p><b>Please be aware that you are only allowed one animate player per IP Address per mode.  If there is more than one player on the same IP address actively playing the game, all players on that address will be unable to attack until all but one is inanimate or animal.</b></p>
</div>

<div class="specialBox">
    <p class="bad">If you choose to start in Player versus Player (PvP) mode, you will be vulnerable to inanimate and animal attacks from any other PvP player at any time.  You can only cast spells against other players in PvP in this mode unless they are your friend, in which case all spells are available.</p>
</div>

<div class="specialBox specialBox2">
    <p>If you do not choose to start out in PvP mode then you are considered to be in Protection mode.  You can only cast animate spells against other human players unless they are your friend, in which case you can cast any spell you know against them. </p>
</div>

<div class="specialBox">
    <p class="good">If you choose to start with the Roleplaying flag, you are indicating to other players that you enjoy roleplaying and are open to roleplaying sessions.  You can turn this flag on or off whenever you like.  Enabling or disabling this flag does not alter gameplay in any way.</p>
</div>
<div class="containerInner center-block">
    <p>Who are you?</p>

    <button class="btn btn-default" id="randomize" style="margin-bottom: 25px;">Random</button>


    @using (Html.BeginForm(MVC.PvP.NewCharacter(), FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input id="oldFirstName" type="hidden" value="@ViewBag.OldFirstName">
        <input id="oldLastName" type="hidden" value="@ViewBag.OldLastName">
        <input id="oldFormSourceId" type="hidden" value="@ViewBag.OldFormSourceId">

        if (ViewBag.Approved != true)
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <strong>You still need to <a href="@Url.Action(MVC.Account.ChangeEmail())">verify your e-mail address</a> to be able to play. You won't be able to create a character until your e-mail address is verified.</strong>
            </div>
        }

        <text>First name:  </text>
        @Html.EditorFor(x => x.FirstName)
        @Html.ValidationMessageFor(x => x.FirstName)

        <br>

        <text>Last name:</text>
        @Html.EditorFor(x => x.LastName)
        @Html.ValidationMessageFor(x => x.LastName)

        <br>
        <br>

        <p class="good">Start in Roleplaying (RP) mode?</p>
        @Html.CheckBoxFor(x => x.StartInRP)

        <br>
        <br>

        <p class="good">Which game mode should this character start in?</p>
        <p style="padding: 0 15% 0 15%">
            In Protection mode, you can only cast animate spells against other human players. SuperProtection keeps any spells from being cast on you by other human players. If someone is your friend, you can cast any spell you know against them and vice-versa.
            <br>
            <br>
            If you choose to start in Player versus Player (PvP) mode, you will be vulnerable to inanimate and animal attacks from any other PvP player at any time.  You can only cast spells against other players in PvP in this mode unless they are your friend, in which case all spells are available
        </p>
        @Html.RadioButtonFor(x => x.StartGameMode, "1", new { @checked = "checked" })<span class="p-mode"> Protection</span><br>
        @Html.RadioButtonFor(x => x.StartGameMode, "0")<span class="sp-mode"> SuperProtection</span><br>
        @Html.RadioButtonFor(x => x.StartGameMode, "2")<span class="pvp-mode"> PvP</span>

        <br>
        <br>

        <a href="#showHard" id="showHard" class="bad">Enable Hard Mode?</a><br /><br />
        <div id="hardDiv" style="display: none;">
            <p class="bg-warning">
                If you choose to enter hard mode, you will not be able to struggle free from ANY inanimate or pet forms during a normal round.
                Regardless of the form, regardless of being dropped, you <strong>cannot be turned back by anyone</strong> until Chaos Mode.
                This decision can only be undone by rerolling otherwise. Click on the link below to enter hard mode.<br><br>

                <ul class="list-group list-group-item-warning">
                    <li>Once this is set, you cannot opt-out without resetting your character.</li>
                    <li>When any player set in this mode is turned into a pet or item, there will be no option to struggle.</li>
                    <li>In Hard Mode, there is an increased difficulty to meditating and cleansing where failure is more likely as the round progresses.</li>
                    <li>In Hard Mode, dodging some splash orbs is harder to achieve, making it more likely for the player to be hit.</li>
                </ul>
                    <p class="bad"><strong>Check the box below to enable Hard Mode.</strong></p>
                    @Html.CheckBoxFor(x => x.StartInHardmode)
            </p>
        </div>

        <br>

        <p class="good">Migrate any old messages to this character?  <br>(Note:This will not work inbetween rounds.)</p>
        @Html.CheckBoxFor(x => x.MigrateLetters)

        <br>
        <br>

        <p class="good">Start as an inanimate object or pet?</p>
        <p>This option immediately starts the character off as a locked object or pet.</p>
        <p>Click on the checkbox only if you want this to happen @Html.CheckBoxFor(x => x.StartAsInanimate, new { id = "itemBox" })</p>
        @Html.EnumDropDownListFor(model => model.InanimateForm, new { id = "itemForm", disabled = "disabled", @class = "disabled" })

        <br>
        <br>

        <p>Original Form:</p>

        <img id="portrait" src="https://images.transformaniatime.com/portraits/woman_01_mtwof.png" style="width: 300px; height:  300px;">
        <br>

        <p>Click any form below to change</p>

        <div id="selections"></div>

        @Html.HiddenFor(i => i.FormSourceId)

        <br>
        <br>


        <br>
        <br>
        <input class="btn btn-danger" type="submit" value="Begin">

    }
</div>