@model TT.Domain.ViewModels.AnimalPlayPageViewModel
@using TT.Domain.Procedures
@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers

@{
    if (@ViewBag.WorldTurnNumber >= @PvPStatics.RoundDuration)
    {
        <div class="inbetweenRoundNotice">The round has ended.  Check back soon to start again on a fresh round.</div>
    }
}

@section menu
{
    <li>
        <span id="timerBox" class="glyphicon glyphicon-time" aria-hidden="true" title="Click to see how long ago the last update ran."></span>
        <span id="turn_countdown">-:--</span>
    </li>
    <li><a href="@Url.Action(MVC.PvP.WorldMap("false"))">Map</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Player <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action(MVC.PvP.ViewLog())">Last Actions (@Model.PlayerLog.Count(i => i.HideLog == false))</a></li>
            <li><a href="@Url.Action(MVC.PvP.MySkills())">Spells</a></li>
            <li><a href="@Url.Action(MVC.PvP.MyPerks())">My Effects</a></li>
            <li><a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.You.Id))">Look at Yourself</a></li>
            <li><a href="@Url.Action(MVC.Settings.PlayerStats(Model.You.MembershipId))">My Statistics</a></li>
            @{
                if (PvPStatics.ChaosMode)
                {
                    <li><a href="@Url.Action(MVC.Settings.ChaosRestoreBase(2))">Chaos Mode: Instant Restore</a></li>
                }
            }
        </ul>
    </li>
    <li><a href="@Url.Action(MVC.PvP.MyFriends())">Friends</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chat <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action(MVC.Chat.Index("global"))" target="_blank">Global chat</a></li>
            @{
                if (Model.HasOwnerChat)
                {
                    <li><a href="@Url.Action(MVC.Chat.Index($"owner_{Model.You.Id}"))" target="_blank">Chat with my pet and items</a></li>
                }

                if (Model.YouItem?.Owner != null)
                {
                    <li><a href="@Url.Action(MVC.Chat.Index($"owner_{Model.YouItem.Owner.Id}"))" target="_blank">Chat with my owner</a></li>
                }

                if (Model.You.Covenant != null && Model.You.Covenant > 0)
                {
                    <li><a href="@Url.Action(MVC.Chat.Index($"coven_{Model.You.Covenant}"))" target="_blank">Chat with my covenant</a></li>
                }
            }
            <li><a href="@Url.Action(MVC.Chat.ChatLog("global", "lasth"))" target="_blank">Chat logs</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Covenant</a></li>
    <li><a href="@Url.Action(MVC.Contribution.Contribute())">Contribute</a></li>

    @{
        if (User.IsInRole(PvPStatics.Permissions_Admin) || User.IsInRole(PvPStatics.Permissions_Moderator))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    @if (User.IsInRole(PvPStatics.Permissions_Admin))
                    {
                        <li><a href="@Url.Action(MVC.PvPAdmin.Index())">Admin</a></li>
                    }
                    @if (User.IsInRole(PvPStatics.Permissions_Moderator))
                    {
                        <li><a href="@Url.Action(MVC.Moderator.Index())">Moderator</a></li>
                    }
                </ul>
            </li>
        }
    }

    <li><a href="@Url.Action(MVC.Messages.Index())" class="glyphicon glyphicon-envelope @(Model.HasNewMessages ? "inboxNew" : "")">(@Model.UnreadMessageCount)</a></li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench"></span><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action(MVC.Settings.Settings())">Settings</a></li>
            <li><a href="@Url.Action(MVC.Settings.MyBlacklistEntries())">My blacklist entries</a></li>
            <li><a href="@Url.Action(MVC.Settings.SetBio())">Update bio</a></li>
            <li><a href="@Url.Action(MVC.PvP.ReserveName())">Reserve this name</a></li>
        </ul>
    </li>

    <li><a href="@Url.Action(MVC.PvP.Restart())">Start again as someone else</a></li>
}

@Html.Partial(MVC.PvP.Views.partial.RoundStatus, Model.World)

<div class="specialBox specialBox2">
    <span class="turnNumber">Turn #<b>@ViewBag.WorldTurnNumber/@PvPStatics.RoundDuration</b></span>
    <span id="liveConnectionNotice" class="noticeOff" title="If this icon is a green tick, you are connected to the server and will receive live notifications when attacked or messaged."><span id="liveConnectionIcon" class="glyphicon glyphicon-remove-circle"> </span><span class="sr-only">Disconnected:</span></span>
    Transformania Time has <b>@Model.WorldStats.TotalPlayers</b> players, <b>@Model.WorldStats.CurrentOnlinePlayers</b> of which are currently online.
</div>

<ul id="notificationBox" style="display:none;">
    @{
        foreach (var log in Model.PlayerLogImportant)
        {
            <li class="frontPageNotification">
                @Html.Raw(log.Message) <span class="timeago">@HtmlHelpers.DatetimeToTimeago(log.Timestamp)</span>
            </li>
        }
    }
</ul>

<p id="dismissNotficationBox" style="display:none;"><a href="javascript:void(0)" onclick="document.getElementById('notificationBox').style.height = '0px'">[ -- ]</a> <a href="javascript:void(0)" onclick="document.getElementById('notificationBox').style.height = '100px'">[ - ]</a> @Ajax.ActionLink("Dismiss Notifications", MVC.PvP.DismissNotifications_Ajax(), new AjaxOptions { HttpMethod = "GET", OnSuccess = "dismissNotificationsSuccess", OnFailure = "dismissNotificationsFail" }, null) <a href="javascript:void(0)" onclick="document.getElementById('notificationBox').style.height = '250px'">[ + ]</a> <a href="javascript:void(0)" onclick="document.getElementById('notificationBox').style.height = '500px'">[ ++ ]</a></p>

<div class="containerInner">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="petItemPortrait img-responsive" style="background-image: url(https://images.transformaniatime.com/animalPortraits/@Model.PortraitUrl);">
                @HtmlHelpers.PrintOwnerSubPortrait(Model.OwnedBy)
            </div>
            @if (Model.FriendOnlyMessages)
            {
                <span class="glyphicon glyphicon-headphones text-danger stroke-white well-sm" style="position: absolute; top: auto; bottom: 6px; right: 70px; width: 16px; height: 16px;" title="Only allowing messages from friends"></span>
            }
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-justify">
            <p>
                @{
                    if (Model.YouItem == null)
                    {
                        <span>You are a lost pet, forgotten by the world and everyone in it</span>
                    }
                    else
                    {
                        if (Model.YouItem?.SoulboundToPlayer == null)
                        {
                            if (!Model.IsPermanent)
                            {
                                <span>Your name is <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.You.Id))">@Model.You.GetFullName()</a>, or at least it used to be.</span>
                            }
                            else if (Model.YouItem.Owner == null)
                            {
                                <span>You have vague memories of once being called <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.You.Id))">@Model.You.GetFullName()</a>.</span>

                                if (!Model.You.IsUsingOriginalName())
                                {
                                    <span>Perhaps you were given that name by a previous owner?</span>
                                }
                            }
                            else
                            {
                                <span>You answer to the name of <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.You.Id))">@Model.You.GetFullName()</a>.</span>

                                if (Model.You.IsUsingOriginalName())
                                {
                                    <span>Somehow it no longer seems to suit you.</span>
                                }
                            }
                        }
                        else
                        {
                            <span>To your forever owner you are known simply as <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.You.Id))">@Model.You.GetFullName()</a>.</span>

                            if (!Model.You.IsUsingOriginalName())
                            {
                                <span>Any thoughts of your past life as @Model.You.OriginalFirstName @Model.You.OriginalLastName are but a faint and distant memory.</span>
                            }
                        }


                        if (!Model.IsPermanent)
                        {
                            if (Model.You.InHardmode)
                            {
                                <span>If you could struggle and regain a human form you would find yourself at level <b>@Model.You.Level</b> with @Model.You.XP experience points toward the next. But instead you are a level @Model.YouItem.Level <b>@Model.Form.FriendlyName</b>.</span>
                            }
                            else
                            {
                                <span>Should you struggle and regain a human form you will find yourself at level <b>@Model.You.Level</b> with @Model.You.XP experience points toward the next. But for now you are a level @Model.YouItem.Level <b>@Model.Form.FriendlyName</b>.</span>
                            }
                        }
                        else
                        {
                            <span>You have lost any last hope of restoring yourself to human and are now wholly dedicated to serving your master or mistress as their pet as a level <b>@Model.YouItem.Level @Model.Form.FriendlyName</b>.</span>
                            if (Model.YouItem.SoulboundToPlayer != null)
                            {
                                @Html.Partial(MVC.PvP.Views.partial.SoulboundTo, Model.YouItem)
                            }
                            else
                            {
                                <span>You have <a href="@Url.Action(MVC.Settings.Settings())">@(Model.YouItem.ConsentsToSoulbinding ? "consented" : "not consented")</a> to let your current or future owner soulbind you.</span>
                            }
                        }
                    }
                }
            </p>
            <br>

            @{
                if (Model.RenderCaptcha)
                {
                    @Html.Partial(MVC.PvP.Views.partial.captchaForm)
                }
            }

            <p>@Model.Form.Description</p>
            <br>
            @{
                if (Model.YouItem != null && Model.YouItem.Owner == null)
                {
                    <span>You are feral and can move freely about the world until a new master tames you.</span>
                }
                else if (Model.YouItem != null)
                {
                    if (Model.OwnedBy.Player.BotId == AIStatics.SoulbinderBotId)
                    {
                        
                        if (Model.YouItem.SoulboundToPlayer != null)
                        {
                            <p>
                            You have been tamed by <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.YouItem.SoulboundToPlayer.Id))">@Model.YouItem.SoulboundToPlayer.FullName</a>.
                            </p><br>
                        }
                        <p>
                        You are currently held by <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.OwnedBy.Player.Id))">@Model.OwnedBy.Player.GetFullName()</a> and will be kept safe while your owner is indisposed.
                        </p>
                    }
                    else
                    {
                        <p>You have been tamed by <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.OwnedBy.Player.Id))">@Model.OwnedBy.Player.GetFullName()</a> and will follow your master wherever they go.</p>
                    }

                    if (Model.OwnedBy.Player.BotId == AIStatics.ActivePlayerBotId)
                    {
                        <p>
                            <a href="@Url.Action(MVC.Messages.Write(Model.OwnedBy.Player.Id, -1))" class="inanimateAction">Communicate with @Model.OwnedBy.Player.GetFullName()</a>
                        </p>
                    }

                    <p>
                        <ul class="inanimateActionList">
                            <li>
                                <a href="@Url.Action(MVC.PvP.AnimalAction("lick", @Model.OwnedBy.Player.Id))" class="check inanimateAction">Lick your owner (+WP)</a>
                            </li>
                            <li>
                                <a href="@Url.Action(MVC.PvP.AnimalAction("nuzzle", @Model.OwnedBy.Player.Id))" class="check inanimateAction">Nuzzle your owner (+MP)</a>
                            </li>
                            <li>
                                <a href="@Url.Action(MVC.PvP.AnimalAction("headbutt", @Model.OwnedBy.Player.Id))" class="check inanimateAction">Headbutt your owner (-WP)</a>
                            </li>
                            <li>
                                <a href="@Url.Action(MVC.PvP.AnimalAction("snarl", @Model.OwnedBy.Player.Id))" class="check inanimateAction">Snarl at your owner (-MP)</a>
                                </li>
                            <li>
                                <a href="#showEmote" id="showEmote" class="inanimateAction">Emote to your owner.</a>
                                <div id="emoteDiv" style="display: none;" class="center-block">
                                    <b class="good">/me</b> <input type="text" id="message" class="actionLinkChange" maxlength="150"><br>
                                    <span id="textRemaining"></span><br>
                                    <b>Action Type:</b>
                                    <select id="action" class="actionLinkChange">
                                        <option value="lick">Lick (+WP)</option>
                                        <option value="nuzzle">Nuzzle (+MP)</option>
                                        <option value="headbutt">Headbutt (-WP)</option>
                                        <option value="snarl">Snarl (-MP)</option>
                                    </select><br>
                                    <a href="/pvp/animalaction?actionName=&targetId=@Model.OwnedBy.Player.Id&message=" id="actionLink" class="check inanimateAction">Send your emote!</a><br>
                                </div>
                            </li>
                        </ul>
                    </p>

                    if (InanimateXPProcedures.CanShowTFCurseButton(Model.YouItem))
                    {
                        <p>
                            <a href="@Url.Action(MVC.PvP.CurseTransformOwner())" class="check inanimateAction">Attempt to transform your owner!</a>
                        </p>
                    }

                    <p>
                        <a href="#showEscape" id="showEscape" class="inanimateAction">Attempt to slip free!</a>
                        <div id="escapeDiv" style="display: none;">
                            <p class="bg-warning small">
                                <a href="@Url.Action(MVC.PvP.EscapeFromOwner())" class="btn-sm btn-warning center-block">Yes, I want slip free from the person holding me.</a>
                                <br>
                                By selecting this option, you will be dropped from the person holding you. If you are soulbound, this will break it and you will need to be soulbound again.
                            </p>
                        </div>
                    </p>
                }

                if (Model.YouItem != null && !Model.IsPermanent)
                {
                    <p class="center-block">
                        <span class="place">Struggle free from this form</span>
                    </p>
                    if (Model.You.InHardmode)
                    {
                        <p>If you could struggle this turn you would have a <b>@Model.StruggleChance% chance</b> of escaping your current form. Too bad you can't.</p>
                    }
                    else if (Model.StruggleChance <= -100)
                    {
                        <p>If you enjoy being a pet too much <strong>you might find yourself trapped like this forever!</strong>  You still have a chance of escape if you can bring yourself to fight your transformation.  (@Model.StruggleChance% chance)</p>
                    }
                    else if (Model.StruggleChance <= 0)
                    {
                        <p>You cannot escape this turn (@Model.StruggleChance% chance), but <b>keep struggling</b> to increase your chances of escape on a future turn.</p>
                    }
                    else if (Model.StruggleChance >= 100)
                    {
                        <p>Keep struggling and <b>you should be able to escape very soon!</b>  (@Model.StruggleChance% chance)</p>
                    }
                    else
                    {
                        <p>If you struggle this turn you have a <b>@Model.StruggleChance% chance</b> of escaping your current form.</p>
                    }
                    if (!Model.You.InHardmode)
                    {
                        <p class="center-block">
                            <a href="@Url.Action(MVC.PvP.FightTheTransformation())" class="check inanimateAction">Fight your transformation and attempt to return to an animate form!</a>
                            <br>
                            <a href="#showInstantLock" id="showInstantLock" class="check inanimateAction">Submit to your transformation and lock as this form</a>
                            <div id="instantlockDiv" style="display: none;">
                                <p class="small">
                                    <a href="@Url.Action(MVC.PvP.InstantLock())" class="check inanimateAction">Yes, I wish to accept my fate.</a>
                                </p>
                            </div>
                        </p>
                    }
                    if (Model.You.InHardmode)
                    {
                        <p class="center-block">
                            <a href="@Url.Action(MVC.PvP.InstantLock())" class="check inanimateAction">Submit to your transformation and lock as this form</a>
                        </p>
                    }
                }

                if (PvPStatics.ChaosMode)
                {
                    <p>
                        In Chaos Mode you can immediately change back into base form through the <b>My Player</b> menu or the <a href="@Url.Action(MVC.Settings.Settings())">Settings</a> page.
                    </p>
                }
                else
                {
                    if (!Model.Message.IsNullOrEmpty())
                    {
                        <p>
                            @(new MvcHtmlString(Model.Message))
                        </p>
                        <br />
                    }
                    <p>
                        While you're waiting, why not check out the <a href="https://tt-gameshow.transformaniatime.com/" target="_blank">Transformania Gameshow</a>?
                    </p>
                }
            }
        </div>
    </div>
    @if (Model.YouItem != null)
    {
        <br>
        <div class="row">
            <div class="col-md-4" style="text-align: center;">@Html.Partial(MVC.PvP.Views.partial.movementTable, new TT.Domain.ViewModels.MovementModel(Model.Location, Model.OwnedBy == null))</div>
            <div class="col-md-8 covenDescription">
                <span class="place">@Model.Location.Name [@Model.Location.X,@Model.Location.Y] <br> </span>

                @Model.Location.GetDescription()
            </div>
        </div>
    }
</div>

@*all players who are online*@
<div id="offlinePlayersButton" class="onlinePlayersButton"><a onclick="showHidePlayers()">Show/Hide online players</a></div>
<div class="onlinePlayersWrapperBG">
    <div class="row boxContainer">
        @*all players who are online*@
        @{
            foreach (var p in Model.PlayersHere.Where(p => !PlayerProcedures.PlayerIsOffline(p.Player)).OrderByDescending(p => p.Player.Level))
            {

                <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                    <div class="charaBoxInner">
                        <div>
                            <p>
                                @Html.Partial(MVC.PvP.Views.Player_Partial, p)
                                @if (Model.YouItem != null)
                                {
                                    <button type="button" class="attackLink" data-toggle="modal" data-target="#petInteractModal" playernum="@p.Player.Id">Interact</button>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>

@{if (ViewBag.ShowOffline == null || !ViewBag.ShowOffline)
    {
        <div id="offlinePlayersButton"><a href="@Url.Action(MVC.PvP.ShowOffline())">Show offline players here (@Model.PlayersHere.Count(p => PlayerProcedures.PlayerIsOffline(p.Player)))</a></div>
    }
}

@{if (ViewBag.ShowOffline != null && ViewBag.ShowOffline)
    {
        <div id="offlinePlayersButton"><a href="@Url.Action(MVC.PvP.Play())">Hide the @Model.PlayersHere.Count(p => PlayerProcedures.PlayerIsOffline(p.Player)) offline players</a></div>
        <div class="offlinePlayersWrapperBG">
            <div class="row boxContainer">

                @{
                    foreach (var p in Model.PlayersHere.Where(p => TT.Domain.Procedures.PlayerProcedures.PlayerIsOffline(p.Player)).OrderByDescending(p => p.Player.Level))
                    {
                        <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                            <div class="charaBoxInner">
                                <div>
                                    <p>
                                        @Html.Partial(MVC.PvP.Views.Player_Partial, p)
                                        @if (Model.YouItem != null)
                                        {
                                            <button type="button" class="attackLink" data-toggle="modal" data-target="#petInteractModal" playernum="@p.Player.Id">Interact</button>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    }
}

@*all players who are offline*@
<div style="clear:both;"></div>

@Html.Partial(MVC.PvP.Views.partial.partial_recentActivity, Model.LocationLog)

<!-- Modal -->
<div class="modal fade" id="petInteractModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Pet Actions</h4>
            </div>
            <div class="modal-body">
                <a href="@Url.Action(MVC.PvP.AnimalAction("lick", 0))" class="btn petActionLink">Lick (+WP)</a>
                <a href="@Url.Action(MVC.PvP.AnimalAction("nuzzle", 0))" class="btn petActionLink">Nuzzle (+MP)</a>
                <hr>
                <a href="@Url.Action(MVC.PvP.AnimalAction("headbutt", 0))" class="btn petActionLink">Headbutt (-WP)</a>
                <a href="@Url.Action(MVC.PvP.AnimalAction("snarl", 0))" class="btn petActionLink">Snarl (-MP)</a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Links.lib.signalr_js.jquery_signalR_js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="@Links.Scripts.notices_js"></script>
    <script>

    var attacksMade = @Model.You.TimesAttackingThisUpdate;
    var turnNo = @ViewBag.WorldTurnNumber;
    var togglestate = 0;
    var blinkEnabled = 0;

    var secondsToUpdate = @ViewBag.SecondsUntilUpdate;
    var donatorTier = @Model.You.DonatorLevel;
    var playUpdateSound = false;
    var playAttackSound = false;
    var playMessageSound = false;
    var notificationsEnabled = false;

    $(document).ready(function () {

        $("#offlinePlayersWrapper").hide();

        // show offline player section when player clicks on the proper div
        $("#offlinePlayersButton").click(function () {
            $("#offlinePlayersButton").hide();
            $("#offlinePlayersWrapper").show();
        });

        $("#timerBox").click(function () {
            alert("The last update was  @HtmlHelpers.DatetimeToTimeago_WithSeconds(Model.LastUpdateTimestamp) (based on when this page was loaded.)  Turns last " + @TurnTimesStatics.GetTurnLengthInSeconds() + " seconds.");
        });

        $(".check").each(function() {
            if (attacksMade>=@PvPStatics.MaxActionsPerUpdate) {
                $( this ).attr("href", "#");
                $( this ).addClass("disabled");
            }
        });

    });

    function pingDone(data) {
        if (data > turnNo) {
            turnNo = data;
            blinkEnabled = 1;
        }
    }

    function fail() {
        // alert("fail");
    }

    $(".attackLink").click(function() {

        var id = $(this).attr("playernum");


        $(".modal-body a").each(function(){
            var href = $(this).attr('href');
            href = href.replace(/(targetId=)[0-9]*/i,"targetId=" + id);
            $(this).attr('href',href);
        });

    });

    $("#showEscape").click(function () {
        if ($("#escapeDiv").is(":visible") === false) {
            $("#escapeDiv").show();
        } else {
            $("#escapeDiv").hide();
        }
    });

    $("#showEmote").click(function () {
        if ($("#emoteDiv").is(":visible") === false) {
            $("#emoteDiv").show();
        } else {
            $("#emoteDiv").hide();
        }
    });

    $(document).ready(function () {
        $("#showInstantLock").click(function () {
            if ($("#instantlockDiv").is(":visible") === false) {
                $("#instantlockDiv").show();
            } else {
                $("#instantlockDiv").hide();
            }
        });
    });

    $(document).ready(function () {
        var max = 150;
        $('#textRemaining').html(max + ' characters remaining');

        $('#message').on('input', function () {
            var length = $(this).val().length;
            var remaining = max - length;

            $('#textRemaining').html(remaining + ' characters remaining');
        });
    });

    </script>

    @if (Model.OwnedBy?.Player.Id != null)
    {
        <script>
        // Using https://jsfiddle.net/t8kAS/
        $(document).ready(function() {
            var linkTemplate = "/pvp/animalaction?actionName={0}&targetId=@Model.OwnedBy.Player.Id&message={1}",
                $input1 = $("#action"),
                $input2 = $("#message"),
                $actionLink = $("#actionLink")

            $(".actionLinkChange").on("change", function() {
                var customLink = linkTemplate
                    .replace("{0}", $input1.val())
                    .replace("{1}", $input2.val())
                $actionLink.attr("href", customLink);
            });
        });
        </script>
    }
}
